@keyframes shimmer {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 300% 50%;
  }
}

.animate-shimmer {
  background-image: linear-gradient(
    120deg,
    var(--color-primary) 0%,
    var(--color-secondary) 25%,
    var(--color-primary) 50%,
    var(--color-secondary) 75%,
    var(--color-primary) 100%
  );

  background-size: 300% 300%;
  background-position: 0% 50%; 

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;

  animation: shimmer 60s linear infinite;
  display: inline-block;
}
