name: PageSpeed Report

on:
  schedule:
    - cron: "0 6 * * *"
  workflow_dispatch:

jobs:
  pagespeed:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalar dependências do projeto
        run: npm install

      - name: Gerar relatório PageSpeed
        run: node scripts/main.js
        env:
          PAGESPEED_API_KEY: ${{ secrets.PAGESPEED_API_KEY }}

      - name: Commit do relatório
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add README.md
          git commit -m "docs: Atualizando README" || echo "No changes"
          git push
